:root {
  --main-font: 'Roboto', sans-serif;
  --header-font: 'Arial', sans-serif;
}

/* Reset */
body {
  margin: 0;
  font-family: var(--main-font);
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 300px;
  height: 100vh;
  background: #202c33;
  overflow-y: auto;
  flex-shrink: 0; /* don't shrink */
}

.users {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #2a3942;
  cursor: pointer;
}

.users img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.users .info {
  margin-left: 10px;
}

.users h3 {
  margin: 0 0 5px 0;
  color: aliceblue;
  font-family: var(--header-font);
}

.users p {
  margin: 0;
  color: gray;
  font-size: 14px;
}

/* Main chat area */
/* .main-chat {
  flex-grow: 1; take remaining space
  height: 100vh;
  background: #f0f0f0;
  padding: 20px;
  overflow-y: auto;
}

.main-chat textarea {
  position: fixed;
  bottom: 0;
  margin-bottom: 10px;

} */


.main-chat {
  flex: 1;
  height: 100vh;
  background: #f0f0f0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  padding-bottom: 80px;
  overflow-y: auto;
}

.messages-container {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 60px;
}

.message-bar {
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 8px;
  border-top: 1px solid #ccc;
  background: #f9f9f9;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.message-bar textarea {
  flex: 1;
  resize: none;
  padding: 12px 16px;
  border-radius: 25px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
  min-height: 50px;
  font-family: var(--main-font);

}

.search {
  padding: 10px;
  border-bottom: 1px solid #2a3942;
  background: #202c33;
}

.search input {
  padding: 8px 12px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 16px;
  background: #323c45; ;
}

.message {
    max-width: 70%;
    padding: 10px 15px;
    margin: 5px 10px;
    border-radius: 15px;
    word-wrap: break-word;
}

.sent {
    background-color: #dcf8c6;
    align-self: flex-end;
    margin-left: auto;
}

.received {
    background-color: white;
    align-self: flex-start;
    margin-right: auto;
}

.users.active {
    background-color: #2a3942;
}